/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Verdana, cursive, Tahoma, Verdana, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo.jpg"); background-repeat: repeat-y;
   

}
.titulo{
font-size: 60px;
color: black;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.img1{
    height: 193px;
    width: 300px;
    background-image: url("piedra.jpeg");
    background-repeat: no-repeat;
    float: right;
}
.img2{
    height: 500px;
    width: 500px;
    background-image: url("medellin.jpeg");
    background-repeat: no-repeat;
    float: left;
}
.img3{
    height: 410px;
    width: 800px;
    background-image: url("e5d02673-10b6-4c07-b27c-e95608f7e759\ \(1\).jpg");
    background-repeat: no-repeat;
    float: left;
}

.img4{
    height: 220px;
    width: 800px;
    background-image: url("ciclo.jpg");
    background-repeat: no-repeat;
    float: left;
}

.img5{
    height: 220px;
    width: 800px;
    background-image: url("menstual.jpeg");
    background-repeat: no-repeat;
    float: left;
}

.img6{
    height: 320px;
    width: 320px;
    background-image: url("circuito\ electrico.jpeg");
    background-repeat: no-repeat;
    float: left;
}

.img7{
    height: 320px;
    width: 320px;
    background-image: url("circuito.jpeg");
    background-repeat: no-repeat;
    float: unset;
}

.img8{
    height: 500px;
    width: 900px;
    background-image: url("suma\ de\ polinomios.jpeg");
    background-repeat: no-repeat;
    float: left;
}

.img9{
    height: 500px;
    width: 900px;
    background-image: url("resta\ de\ polinomios.jpeg");
    background-repeat: no-repeat;
    float: unset;
}

.img10{
    height: 500px;
    width: 900px;
    background-image: url("multiplicacion\ de\ polinomios.jpeg");
    background-repeat: no-repeat;
    float: unset;
}

.img11{
    height: 500px;
    width: 900px;
    background-image: url("division.jpeg");
    background-repeat: no-repeat;
    float: unset;
}

.img12{
    height: 220px;
    width: 800px;
    background-image: url("anorexia.jpeg");
    background-repeat: no-repeat;
    float: unset;
}

.img13{
    height: 220px;
    width: 800px;
    background-image: url("bulimia.jpeg");
    background-repeat: no-repeat;
    float: unset;
}

.img14{
    height: 220px;
    width: 800px;
    background-image: url("desordenes.jpeg");
    background-repeat: no-repeat;
    float: unset;
}

.img15{
    height: 200px;
    width: 200px;
    background-image: url("logo\ menstrual.jpeg");
    background-repeat: no-repeat;
    float: left;
}
.img16{
    height: 200px;
    width: 420px;
    background-image: url("th.jpeg");
    background-repeat: no-repeat;
    float: left;
}
   
.img17{
    height: 200px;
    width: 420px;
    background-image: url("binomio\ conjugado.jpeg");
    background-repeat: no-repeat;
    float: left;
}


.img18{
    height: 200px;
    width: 420px;
    background-image: url("cubo\ de\ un\ binomio.jpeg");
    background-repeat: no-repeat;
    float: left;
}
.img19{
    height: 200px;
    width: 420px;
    background-image: url("factorizacion.jpeg");
    background-repeat: no-repeat;
    float: left;
}

.img20{
    height: 200px;
    width: 420px;
    background-image: url("factor\ comun.jpeg");
    background-repeat: no-repeat;
    float: left;
}
.img21{
    height: 200px;
    width: 420px;
    background-image: url("trinomio\ cuadrado\ perfecto.jpeg");
    background-repeat: no-repeat;
    float: left;
}

.img22{
    height: 200px;
    width: 420px;
    background-image: url("diferencia\ de\ caudrados.jpeg");
    background-repeat: no-repeat;
    float: left;
}

.img23{
    height: 200px;
    width: 420px;
    background-image: url("enlases\ ionicos.jpeg");
    background-repeat: no-repeat;
    float: left;
}


.img24{
    height: 200px;
    width: 420px;
    background-image: url("mapa.jpeg");
    background-repeat: no-repeat;
    float: left;
}
.img25{
    height: 200px;
    width: 420px;
    background-image: url("futbol.jpeg");
    background-repeat: no-repeat;
    float: left;
}

.img26{
    height: 250px;
    width: 800px;
    background-image: url("logo_polynomial_operations_resized_400x250.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img27{
    height: 250px;
    width: 800px;
    background-image: url("logo\ circuito.jpeg");
    background-repeat: no-repeat;
    float: left;
}

.img28{
    height: 250px;
    width: 800px;
    background-image: url("logo\ embaraxo.jpeg");
    background-repeat: no-repeat;
    float: left;
}

.img29{
    height: 512px;
    width: 512px;
    background-image: url("logo\ enlaces\ quimicos.png");
    background-repeat: no-repeat;
    float: left;
}

.img30{
    height: 250px;
    width: 400px;
    background-image: url("logo\ configuracion\ electronica.jpeg");
    background-repeat: no-repeat;
    float: left;
}

.img31{
    height: 250px;
    width: 400px;
    background-image: url("Diseño\ sin\ título\ \(1\).png");
    background-repeat: no-repeat;
    float: left;
}

.img32{
    height: 250px;
    width: 400px;
    background-image: url("saber\ escuchar.jpeg");
    background-repeat: no-repeat;
    float: left;
}
.img33{
    height: 250px;
    width: 400px;
    background-image: url("Diseño\ sin\ título\ \(2\).png");
    background-repeat: no-repeat;
    float: left;
}
.img34{
    height: 250px;
    width: 400px;
    background-image: url("no\ la\ violecioa.png");
    background-repeat: no-repeat;
    float: left;
}

.img35{
    height: 250px;
    width: 400px;
    background-image: url("identidad.png");
    background-repeat: no-repeat;
    float: left;
}
.img36{
    height: 250px;
    width: 400px;
    background-image: url("estereotipos.png");
    background-repeat: no-repeat;
    float: left;
}


.img37{
    height: 250px;
    width: 400px;
    background-image: url("anticonseptivos.jpeg");
    background-repeat: no-repeat;
    float: left;
}










